/* Remove margens e paddings padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Herda fontes de elementos pai */
body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

/* Remove estilos padrão de listas */
ul, ol {
  list-style: none;
}

/* Remove decoração de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove bordas de inputs e botões */
input, button {
  border: none;
  outline: none;
  font-family: inherit;
}

/* Reset de botões */
button {
  background: none;
  cursor: pointer;
}

/* Aplica a todas as barras de rolagem */
::-webkit-scrollbar {
    width: 6px; /* Largura da barra vertical */
    height: 6px; /* Altura da barra horizontal */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #1e1e1e; /* Cor de fundo */
    border-radius: 10px;
}

/* Cor da alça da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: #FFFF00; /* Azul */
    border-radius: 10px;
}

/* Quando passa o mouse na barra */
::-webkit-scrollbar-thumb:hover {
    background: #aeae00; /* Azul mais escuro */
}

input[type="radio"] {
  accent-color: #FFFF00;
}
